name: Test Commit JSON

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  commit-json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Test write other result into json
        run: |
          echo '{"title": "Introduction to Programming"}' > result.json

      - name: Commit and push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add result.json
          git commit -m "update result.json" || echo "No changes to commit"
          git push