name: Scrape lukkari

on:
  workflow_dispatch:

permissions:
  contents: write      

jobs:
  scrape_lukkari:
    runs-on: ubuntu-latest

    env:
      LOGIN_USER: ${{ secrets.SCRAPER_USERNAME }}
      LOGIN_PASS: ${{ secrets.SCRAPER_PASSWORD }}    

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: main           

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install selenium webdriver-manager requests beautifulsoup4

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Run scraper
        run: python scraper.py

      - name: Checkout data branch to push
        uses: actions/checkout@v4
        with:
          ref: data  
          path: data # use folder data to temporary save result.json before switch over another branch    

      - name: Copy result.json to data branch folder
        run: cp result.json data/result.json

      - name: Push updated result.json to data branch
        run: |
          cd data
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add result.json
          git commit -m "Update result.json from workflow" || echo "No changes to commit"
          git push origin data