name: Scrape lukkari and update Gist

on:
  workflow_dispatch:

jobs:
  scrape_lukkari:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          path: .
          python-version: "3.x"

      - name: check root
        run: pwd

      - name: Install dependencies
        run: pip install selenium webdriver-manager requests

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Run scraper
        run: python scraper.py

      - name: Update Gist with JSON result
        env:
          GIST_ID: ${{ secrets.GIST_ID }}
          GIST_FILE: ${{ secrets.GIST_FILE }}
          GIST_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          echo "Uploading result.json to Gist..."
          python3 - << 'EOF'
          import json, requests, os

          gist_id = os.environ["GIST_ID"]
          gist_file = os.environ["GIST_FILE"]
          token = os.environ["GH_TOKEN"]

          with open("result.json") as f:
              content = f.read()

          url = f"https://api.github.com/gists/{gist_id}"
          headers = {"Authorization": f"Bearer {token}"}
          payload = {"files": {gist_file: {"content": content}}}

          r = requests.patch(url, headers=headers, data=json.dumps(payload))
          print("Status:", r.status_code)
          print(r.text)
          r.raise_for_status()
          EOF