name: Getting timetable and output to json

# on:
#   workflow_dispatch:

on:
  repository_dispatch:
    types: [update_json]
  workflow_dispatch: # also allow manual trigger from GitHub UI

permissions:
  contents: write

jobs:
  commit-json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Run scraper
        run: python scraper.py

      - name: Upload result json
        uses: actions/upload-artifact@v4
        with:
          name: scraped-data
          path: result.json

      - name: Commit and push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          cp result.json docs/result.json
          git add docs/result.json
          git commit -m "update result.json" || echo "No changes to commit"
          git push