name: Scrape lukkari and Update Gist JSON

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  run-scraper:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Run scraper
        run: python scraper.py

      - name: Update Gist with result.json
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: ${{ secrets.GIST_ID }}
        run: |
          CONTENT=$(jq -Rs '.' < result.json)
          gh api \
            --method PATCH \
            -H "Accept: application/vnd.github+json" \
            /gists/$GIST_ID \
            -f files[result.json].content="$CONTENT"